body {
  background: rgb(145, 182, 127);
  color: white;
  padding: 10px;
  font-family: arial;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(117, 149, 107);
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 0;
}
p {
  color: white;
  align-items: left;
}
#text {
  color: white;
}
#text1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 0;
  text-align: left;
}
#text2 {
  font-size: 15px;
  color: white;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}

/* main container area beneath menu */
main {
  background: rgb(139, 177, 127);
  display: flex;
  border-radius: 20px;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
}
.content {
  flex: 1;
  padding: 15px;
}

/* portfolio styles */
a {
  text-decoration: none;
  color: #fff;
}
#link-text {
  background: rgb(117, 149, 107);
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

#interests {
  border: 4px rgb(115, 153, 101) solid;
  border-radius: 20px;
  padding: 8px;
}
#smiley {
  font-weight: 100;
  font-size: 15px;
  margin: 0 auto;
  padding: 10px;
  color: white;
}
h3 {
  margin: 0px;
}
#cat {
  border: 20px rgb(139, 177, 127) solid;
  border-radius: 20px;
}

#gallery {
  background: rgb(117, 149, 107);
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}
#more {
  font-weight: 100;
  font-size: 15px;
  background: rgb(117, 149, 107);
  margin: 0 auto;
  padding: 10px;
}

#img1 {
  width: 365px;
  height: 100%;
  margin: 10px;
  border: 5px rgb(247, 254, 249) solid;
}
.container {
  justify-content: center;
  align-items: center;
}

#portfolio {
  color: white;
}
.nav-a {
  color: white;
}

body {
  background-image: url(https://images.nationalgeographic.org/image/upload/v1638892272/EducationHub/photos/hoh-river-valley.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 300vh;
}

.social:hover {
  transform: scale(1.1);
}

.social-pos {
  background-color: rgb(139, 177, 127);
  border: 20px rgb(139, 177, 127) solid;
  border-radius: 20px;
  float: right;
}
